{% extends "flights/layout.html" %}

{% block body %}
    <div id="info">
        <div class="boxed">
            <div class="top">
                <h1>Flight {{ flight.id }}</h1>
            </div>
            <div class="inf">
                <ul class="infos">
                    <li>Origin: {{ flight.origin }}</li>
                    <li>Destination: {{ flight.destination }}</li>
                    <li>Duration: {{ flight.duration }}</li>
                </ul>
            </div>
        </div>
        <div class="boxed">
            <div class="top">
                <h2>Passengers</h2>
            </div>
            <div class="inf">
                <ul class="infos">
                    {% for passenger in passengers %}
                        <li>{{ passenger }}</li>
                    {% empty %}
                        <li>No Passenger.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="formlayout">
        <h2>Add Passenger:</h2>

        <form action="{% url 'book' flight.id %}" method="post">
            {% csrf_token %}
            <select name="passenger">
                {% for passenger in non_passenger %}
                    <option value="{{ passenger.id }}">{{ passenger }}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
    </div>
    <div id="backs">
        <a id="back" href="{% url 'index' %}">Back to Flight List</a>
    </div>
{% endblock %}